# Configuración de la base de datos
DB_USER = ""
DB_PASSWORD = ""
DB_HOST = ""
DB_PORT = 
DB_NAME = ""
DATABASE_URI = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}?charset=utf8mb4&ssl=false"

# Secret key para JWT
JWT_SECRET_KEY= ""

# Clave para el hash de contraseñas
PASSWORD_HASH_SALT= ""